.button {
    display: flex;
    color: $blue;
    background-color: $yellow;
    border: 1px solid $yellow;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;

    @extend .inter-bold;
}