.testimonial {
    background-color: $white;

    &__content {
        padding: 2rem;
    }

    &__info {
        color: $green;
        display: flex;
        flex-direction: column;
        gap: $sp-sm;

        @include media(md) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__stars {
        display: flex;
        img {
            width: 17px;
            height: 17px;
        }
    }
}