@import 'reset';

// Breakpoints 
$sm: 576px; // Small devices (landscape phones, 576px and up)
$md: 768px; // Medium devices (tablets, 768px and up)
$lg: 992px; // Large devices (desktops, 992px and up)
$xl: 1200px; // Extra large devices (large desktops, 1200px and up)

// Colours 
:root {
    --blue: #001F3F;
    --light-blue: #008FFF;
    --grey: #636363;
    --yellow: #FFD700;
    --white: #FFFFFF;
    --green: #4CAF50;

    /* Fonts */
    --ft-xxl: 3rem;
    --ft-xl: 2.5rem;
    --ft-lg: 2.062rem;
    --ft-md: 1.75rem;
    --ft-sm: 1.438rem;
    --ft-xs: 1.188rem;

    /* Spacing */
    --sp-xxl: 6rem;
    --sp-xl: 4rem;
    --sp-lg: 3rem;
    --sp-md: 2rem;
    --sp-sm: 1rem;
}


@import 'media-query';
@import 'typography';
@import 'layout';