---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Gardiners Gas & Plumbing | Dorchester, Weymouth & Surrounding Areas">
	<main id="maincontent" class="container">
		content HERE
	</main>
</Layout>
<style lang="scss" is:global>
	@import '../styles/main.scss';
</style>

