---
import { Image } from "astro:assets";
import gasSafe from "../Images/gas-safe.png";
---

<section id="about" class="about">
    <div class="about__wrapper flow">
      <h2>Welcome to Gardiners Gas & Plumbing Ltd.</h2>
      <div class="flow">
        <p>
          We are a local, family run business with over 30 years experience in
          the heating, gas and plumbing industry. We are fully qualified and
          Gas Safe registered.
        </p>
  
        <p>
          We offer a friendly, reliable and professional service at
          competitive prices.
        </p>
      </div>
    </div>
    <div class="about__gas-safe">
      <Image
        src={gasSafe}
        alt="Gas Safe Logo"
      />
    </div>
  </section>