---
import { Image } from "astro:assets";
import phoneIcon from "../image_assets/icons/icon-phone-blue.png";
---
<div class="call-btn animation animation--call-btn">
    <a href="tel:1234567890">
        <Image src={phoneIcon} alt="Phone icon" />
        Call
    </a>
</div>

