<footer class="footer">
    <div class="container">
      <div class="footer__company-info">
          <p>Company registration: 12345678</p>
          <p>VAT number: 392 8052 36</p>
          <p>Gas Safe reg: 1012</p>
      </div>
      <div class="footer__build">
          Design and build by <a href="https://www.linkedin.com/in/harry-gardiner-795b2178/" target="_blank" rel="noreferrer">Harry</a>
      </div>
    </div>
  </footer>