---
import { Image } from "astro:assets";
import logo from "../Images/logo-sm.png";
---

    <a href="#maincontent" class="skip-link">Skip to main content</a>
    <header class='header'>
        <div class="container">
            <a href="#">
                <div class="header__logo">
                    <Image src={logo} alt="Gardiner Gas logo"/>
                </div>
            </a>
            <nav>
                <input id="navcheckbox" class="checkbox" type="checkbox" name="" aria-controls="menu" />
                <div class="hamburger-lines">
                    <span class="line line--1"></span>
                    <span class="line line--2"></span>
                    <span class="line line--3"></span>
                </div>
                <p class='call'><a href="tel:077000000">Call 0770000000</a></p>
                <ul role="list" id="menu" class="nav_items" role="menu" aria-labelledby="navcheckbox">
                    <li class="nav_item" role="menuitem">
                        <a href="#about">About</a>
                    </li>
                    <li class="nav_item" role="menuitem">
                        <a href="#services">Services</a>
                    </li>
                    <li class="nav_item" role="menuitem">
                        <a href="#contact">Contact</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

<style lang="scss">
    .skip-link {
      position: absolute;
      top: -40px;
      left: 0;
      background: blue;
      color: white;
      padding: 8px;
      z-index: 101;
      transition: top 0.3s;

      &:focus {
        top: 0;
      }
    }


</style>