---
import { Image } from "astro:assets";
import logo from "../Images/logo-sm.png";
---

<a href="#maincontent" class="skip-link">Skip to main content</a>

<header class="header">
  <div class="container">
    <a class="header__logo" href="#">
      <div>
        <Image src={logo} alt="Gardiner Gas logo" />
      </div>
    </a>
    <div>
      <button id="burger" class="open-main-nav">
        <span class="burger"></span>
      </button>
      <p class='call'><a href="tel:077000000">Call 0770000000</a></p>
      <nav class="main-nav" id="main-nav">
        <ul role="list">
          <li>
            <a href="#">Home</a>
          </li>
          <li>
            <a href="#about">About</a>
          </li>
          <li>
            <a href="#services">Services</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<script>
  let burger = document.getElementById("burger"),
    nav = document.getElementById("main-nav");

  burger.addEventListener("click", function (e) {
    this.classList.toggle("is-open");
    nav.classList.toggle("is-open");

     // If the menu is open, prevent scrolling on the body
     if (nav.classList.contains("is-open")) {
        document.body.style.overflow = 'hidden';
        // Add a right padding to the body equal to the width of the scrollbar
        document.body.style.paddingRight = window.innerWidth - document.documentElement.clientWidth + 'px';
      } else {
        // If the menu is closed, allow scrolling again and remove the right padding
        document.body.style.overflow = 'auto';
        document.body.style.paddingRight = '0px';
      }
  });
</script>

<style lang="scss">
  .skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background: var(--blue);
    color: var(--white);
    padding: 8px;
    z-index: 101;
    transition: top 0.3s;

    &:focus {
      top: 0;
    }
  }

  .header {
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white);
    position: sticky;
    top: 0;
    width: 100vw;

    &__logo {
      display: block;
      width: fit-content;
    }
  }

  .call {
    display: none;
  }
  .main-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(2px); 
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: all 0.375s;

    &.is-open {
      opacity: 1;
      z-index: 100;
      visibility: visible;
      height: 100vh;

      &::before {
        transform: skew(-14deg) translateX(0);
      }

      a {
        opacity: 1;
        transform: translateY(0);
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: var(--yellow);
      transform-origin: 0 0;
      transform: skew(-14deg) translateX(-120%);
      transition: all 0.275s 0.1s;
    }

    ul {
      display: inline-flex;
      flex-direction: column;
      height: 100%;
      align-items: flex-end;
      justify-content: center;
      transform: translateX(-18%) skew(-16deg);
    }

    li {
      display: block;
      margin: 0.5rem 0;
      text-align: right;
      transform: skew(16deg);
    }

    a {
      opacity: 0;
      transform: translateY(-10px);
    }

    li:nth-child(1) a {
      transition: all 275ms 175ms;
    }
    li:nth-child(2) a {
      transition: all 275ms 225ms;
    }
    li:nth-child(3) a {
      transition: all 275ms 275ms;
    }
    li:nth-child(4) a {
      transition: all 275ms 325ms;
    }
    li:nth-child(5) a {
      transition: all 275ms 375ms;
    }

    /* Decoration */
    ul,
    li {
      list-style: none;
      padding: 0;
    }
    a {
      display: block;
      padding: 12px 0;
      color: var(--blue);
      font-size: 1.4em;
      text-decoration: none;
      font-weight: bold;
    }
  }

  .open-main-nav {
    position: absolute;
    top: 18px;
    padding-top: 20px;
    right: 15px;
    z-index: 1000;
    background: none;
    border: 0;
    cursor: pointer;

    &:focus {
      outline: none;
    }
  }
  .burger {
    position: relative;
    display: block;
    width: 28px;
    height: 4px;
    margin: 0 auto;
    background: var(--blue);
    transform: skew(5deg);
    transition: all 0.275s;
    border-radius: 15px;

    &:after,
    &:before {
      content: "";
      display: block;
      height: 100%;
      background: var(--blue);
      transition: all 0.275s;
      border-radius: 15px;
    }

    &:after {
      transform: translateY(-12px) translateX(-2px) skew(-20deg);
    }

    &:before {
      transform: translateY(-16px) skew(-10deg);
    }
  }

  /* Toggle State part */
  .is-open .burger {
    transform: skew(5deg) translateY(-8px) rotate(-45deg);
    &:before {
      transform: translateY(0px) skew(-10deg) rotate(75deg);
    }

    &:after {
      transform: translateY(-12px) translateX(10px) skew(-20deg);
      opacity: 0;
    }
  }

  
</style>
