---
import Service from "./Service.astro";
---

<section id="services" class="services overflow">
    <div class="container">
        <h2>Services</h2>
        <div class="services__wrapper">
            <Service
                icon="/src/image_assets/icons/icon-flame.png"
                iconAlt="flame"
                title="Boiler Servicing"
                text="We offer a range of boiler servicing options to keep your boiler running smoothly."
            />
            <Service
                icon="/src/image_assets/icons/icon-tool.png"
                iconAlt="wrench"
                title="Boiler Repairs"
                text="We can help with any boiler repairs, from a leaking pipe to a broken thermostat."
            />
            <Service
                icon="/src/image_assets/icons/icon-document-check.png"
                iconAlt="gas"
                title="Gas Safety Checks"
                text="We offer gas safety checks for landlords and homeowners."
            />
            <Service
                icon="/src/image_assets/icons/icon-plumbing.png"
                iconAlt="plumbing"
                title="General Plumbing"
                text="We can help with any general plumbing work, from a leaking tap to a new bathroom installation."
            />
        </div>
    </div>
  </section>